@mixin formtText (){
    font-family: $fontOpenSansBold;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

/*sólo cambiar en link-URL a 12px 
En botón twitter a 14px + $fontOpensans