$colorBlack: black;
$darkGreenBlue: #114e4e;
$dirtyBlue: #438792;
$hospitalGreen: #a2deaf;
$lightKhaki: #f9f4dc;
$whiteTwo: #ffffff;
$dullOrange: #e17334;
$whiteThree: #d8d8d8;
$whiteFour: #f5f5f5;
$brownishGrey: #6b6b6b;
$silver: #bfcdd0;
$paleGrey: #dde9ed;
$driedBlood: #420101;
$rustyRed: #bd1010;
$tomato: #e95626;
$slate: #3e5b65;
$fadedOrange: #eab052;
$lifeGreyBlue: #a0c0cf;
$gunMetal: #54585a;
$pinkish-Grey: #c5c5c5;
$azure: #00a0f5;
$white: #d5d5d5;


// FONTS

$fontMerriweather: 'Merriweather', serif;
$fontMontserrat: 'Montserrat', sans-serif;
$fontMontserratBold: 'Montserrat Bold', sans-serif;
$fontOpenSans: 'Open Sans', sans-serif;
$fontOpenSansBold: 'Open Sans Semi Bold', sans-serif;
