.formDesing {
  margin: 30px 20px;
  display: flex;
  flex-direction: column;
  border-color: transparent;
  /* @media(min-width: 768px){
    }*/
}
.colours {
  color: $gunMetal;
  font-size: 1.4rem;
  font-family: $fontOpenSans;
  padding-left: 39px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 20px;
  border-color: transparent;
  gap: 20px;
  /*@media(min-width: 768px){
    }*/

  &__rectangOne {

    display: flex;
    &--colorDark {
      background-color: $darkGreenBlue;
      width: 30px;
      height: 25px;
    }
    &--colorDirty {
      background-color: $dirtyBlue;
      width: 30px;
      height: 25px;
    }
    &--colorHospital {
      background-color: $hospitalGreen;
      width: 30px;
      height: 25px;
    }
    &--input1 {
      margin-right: 10px;
    }
  }

  &__rectangTwo {

    display: flex;
    &--colorDried {
      background-color: $driedBlood;
      width: 30px;
      height: 25px;
    }
    &--colorRusty {
      background-color: $rustyRed;
      width: 30px;
      height: 25px;
    }
    &--colorTomato {
      background-color: $tomato;
      width: 30px;
      height: 25px;
    }
    &--input2 {
      margin-right: 10px;
    }
  }

  &__rectangThree {
    padding-bottom: 20px;
    display: flex;

    &--colorSlate {
      background-color: $slate;
      width: 30px;
      height: 25px;
    }

    &--colorFaded {
      background-color: $fadedOrange;
      width: 30px;
    }

    &--colorLight {
      background-color: $lifeGreyBlue;
      width: 30px;
    }
    &--input3 {
      margin-right: 10px;
    }
  }
}

.borderbottom{
    background-color: $whiteThree;
    height: 1px;
    margin: 0 20px;
}


.palette1 {
  .card__name {
    color: $darkGreenBlue;
  }
  .card__links {
    color: $dirtyBlue;
  }
  .card__data {
    color: $hospitalGreen;
  }
}

.palette2 {
  .card__name {
    color: $driedBlood;
  }
  .card__links {
    color: $rustyRed;
  }
  .card__data {
    color: $tomato;
  }
}

.palette3 {
  .card__name {
    color: $slate;
  }
  .card__links {
    color: $fadedOrange;
  }
  .card__data {
    color: $lifeGreyBlue;
  }
}
