.footer {
 
  background-color: $whiteTwo;
  display: flex;
  justify-content: center;
  align-items: center;

  .footerContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    

   }

   .logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 103px;
    margin: auto;
    
  }
   
  .footerTitle {
    font-family: $fontOpenSans;
    color: $brownishGrey;
    font-size: 15px;
    opacity: 50%;
    padding: 5px 60px 60px;
   
   } 
}
