.footer {
 
  background-color: $whiteTwo;
  display: flex;
  align-items: center;
  flex-direction: column;

 
   &__logo {
   
    padding-top: 20px;
    padding-bottom: 30px;
    width: 103px;
   
    
  }
   
  &__title {
    font-family: $fontOpenSans;
    color: $brownishGrey;
    font-size: 1.5rem;
    opacity: 0.5;
    margin-top: 18px;
   
   } 
}
