.form {
    border-color: transparent;
    height: 1000px;
}
.formContainer {
    display: grid;
    grid-template-columns: 140px 1fr;
    grid-template-rows: repeat(8,30px);
    gap: 20px;
    margin: 30px 20px;
    &__name, &__job, &__email, &__phone, &__linkedin, &__github, &__image {
        display: flex;
        flex-direction: column;
        grid-column: 1/3;
        font-size: 1.4rem;
        font-family: $fontOpenSans;
        line-height: 1.43;
        label {
            color: $darkGreenBlue;
        }
        input {
            color: $pinkish-Grey;
            font-size: 1.4rem;
            font-family: $fontOpenSans;
            border: solid 1px $hospitalGreen;
           
        }
    &__square {
            width: 30px;
            height: 30px;
            border: solid 1px $hospitalGreen;
            background-color: blue;
        }
    }
}
 
