.header {
  background-color: $whiteFour;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__image {

  margin-top: 95px;
  width: 250px;
  height: 63px;
  margin-bottom: 35px;
  object-fit: contain;
  
  
  }

  
}
