.main {
    
    height: 458px; 
    background-color: $whiteFour;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-container {
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      

        

    .maintitle {
        font-family: $fontMerriweather;
        color: $dullOrange;
        font-size: 19.5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .maintext {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $fontOpenSans;
        color: $darkGreenBlue;
        font-size: 12.8px;

    }
        
    }

    .mainitems {

         display: flex; 
         justify-content:center;
         align-items:center;
         gap: 20px;
         border: solid 1.6px $dullOrange;
         border-radius: 4px;
         margin-top: 200px;
         margin-right:80px;
         padding: 30px;
         width: 268px;
         height: 74px;
         
        
     .itemstext {
        font-family: $fontOpenSans;
        color: $darkGreenBlue;
        font-size: 12.8px;
     }
     


}
    
}