
    
    
   
   
    .main {
        background-color: $whiteFour;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh; 
        gap: 17px;

       

    &__title {

        font-family: $fontMerriweather;
        color: $dullOrange;
        font-size: 19.5px;
       
        
      
    }

    &__text {
       
        font-family: $fontOpenSans;
        color: $darkGreenBlue;
        font-size: 12.8px;

    }
        
    }

    .items {

         display: flex; 
         justify-content:center;
         align-items:center;
         gap: 20px;
         border: solid 1.6px $dullOrange;
         border-radius: 4px;
       
         padding: 30px;
         width: 268px;
         height: 74px;
         
        
     &__text {
        font-family: $fontOpenSans;
        color: $darkGreenBlue;
        font-size: 12.8px;
     }
     


}
    
