.fieldsetShare {
height: 20vh;
display: flex;
justify-content: center;
border: none;

}

.buttonOrange {
    // background-color: lightgreen;
    height: 20vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: $dullOrange;
    padding: 0;
    // border-bottom: 2px solid $whiteThree ;
    @media (min-width: 768px) {
        justify-content: flex-start;
    }
  
    

    &__btn {
        background-color: $dullOrange;
        border: $dullOrange;
        width: 199px;
        height: 50px;
        border-radius: 12px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;

        @media (min-width: 768px){
            background-color: $white ;
        }
    }


    &__icon {
       font-size: 2.2rem;
        color: $whiteTwo;
        @media (min-width: 768px){
            background-color: $white ;
        }
    }

    &__text {
        @include formText;
        color: $whiteTwo;
        background-color: $dullOrange;
        text-transform: uppercase;
        // height: 1.5rem;
        @media (min-width: 768px) {
            background-color: $white ; 
        }
     
    }

    //  &__botLine {
    //   width: 329px;
    //  }
    // @media (min-width: 768px) {
    //     justify-content: flex-start;
   

    // }
}