// .fieldsetShare {
  

// }

.buttonOrange {
    background-color: $dullOrange;
    width: 199px;
    height: 50px;
    border-radius: 12px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    border: $dullOrange;

    &__btn {
        // width: 25px;
        // height: 22px;
        background-color: $dullOrange;
        display: flex;
        flex-direction: row;

    }

    &__icon {
        // width: 25px;
        // height: 22px;
    }

    &__text {
        @include formText;
        color: $whiteTwo;
        background-color: $dullOrange;
        text-transform: uppercase;
    }
}