<section class="preview">
   <button class="preview__reset js-cardReset"><i class="fa-regular fa-trash-can"></i> Reset</button> 
  <article class="card js-card">
    <div class="card__data">
        <h2 class="card__name js-cardName">Nombre Apellido</h3>
        <h3 class="card__job js-cardJob">Front-end developer</h4>
    </div>
    <div class="profile__image js__profile-image"></div>
    <nav class="nav">
      <a href="" class="nav__links js-mobileLink"
        ><i class="fa-solid fa-mobile-screen-button nav__links--icon"></i
      ></a>
      <a href="" class="nav__links js-mailLink" target="_blank"><i class="fa-regular fa-envelope nav__links--icon"></i></a>
      <a href="" class="nav__links js-linkedinLink" target="_blank"><i class="fa-brands fa-linkedin-in nav__links--icon"></i></i></a>
      <a href="" class="nav__links js-githubLink" target="_blank"><i class="fa-brands fa-github-alt nav__links--icon"></i></a>
    </nav>
  </article>
</section>
