<fieldset class="formDesing">
    <load src="/partials/formTitle.html" title="diseña" icon="fa-regular fa-object-ungroup"/>

    <div class="colours">
        <p>COLORES</p>

    <section class="section">
        <div class="section__rectangOne palette1">
            <input type="radio" name="select" class="js_palette1 section__rectangOne--input1">
            <div class="section__rectangOne--colorDark"></div>
            <div class="section__rectangOne--colorDirty"></div>
            <div class="section__rectangOne--colorHospital"></div>
        </div>

        <div class="section__rectangTwo palette2">
            <input type="radio" name="select" class="js_palette2 section__rectangTwo--input2">
            <div class="section__rectangTwo--colorDried"></div>
            <div class="section__rectangTwo--colorRusty"></div>
            <div class="section__rectangTwo--colorTomato"></div>
        </div>

        <div class="section__rectangThree palette3">
            <input type="radio" name="select" class="js_palette3 section__rectangThree--input3">
            <div class="section__rectangThree--colorSlate"></div>
            <div class="section__rectangThree--colorFaded"></div>
            <div class="section__rectangThree--colorLight"></div>
        </div>

    </section>

    </div>

    <div class="borderbottom"></div>

</fieldset>