<fieldset class="formDesing">
    <load src="/partials/formTitle.html" title="diseña" icon="fa-regular fa-object-ungroup"/>

    <div class="colours">
        <p>COLORES</p>

    <section class="section">
        <div class="rectangOne palette1">
            <input type="radio" name="select" class="js_palette1">
            <div class="rectangOne__colorDark"></div>
            <div class="rectangOne__colorDirty"></div>
            <div class="rectangOne__colorHospital"></div>
        </div>

        <div class="rectangTwo palette2">
            <input type="radio" name="select" class="js_palette2">
            <div class="rectangTwo__colorDried"></div>
            <div class="rectangTwo__colorRusty"></div>
            <div class="rectangTwo__colorTomato"></div>
        </div>

        <div class="rectangThree palette3">
            <input type="radio" name="select" class="js_palette3">
            <div class="rectangThree__colorSlate"></div>
            <div class="rectangThree__colorFaded"></div>
            <div class="rectangThree__colorLight"></div>
        </div>

    </section>

    </div>

</fieldset>