<fieldset class="form">
    <load src="/partials/formTitle.html" title="diseña" icon="fa-light fa-object-ungroup"/>

    <div class="colours">
        <p>COLORES</p>
    </div>

    <form class="formu">
        <div class="rectangOne">
            <input type="radio" name="select" class="inputRadio">
            <div class="rectangOne__colorDark"></div>
            <div class="rectangOne__colorDirty"></div>
            <div class="rectangOne__colorHospital"></div>
        </div>

        <div class="rectangTwo">
            <input type="radio" name="select">
            <div class="rectangTwo__colorDried"></div>
            <div class="rectangTwo__colorRusty"></div>
            <div class="rectangTwo__colorTomato"></div>
        </div>

        <div class="rectangThree">
            <input type="radio" name="select">
            <div class="rectangThree__colorSlate"></div>
            <div class="rectangThree__colorFaded"></div>
            <div class="rectangThree__colorLight"></div>
        </div>

    </form>


</fieldset>