<fieldset class="formDesign js-fieldset">
  <section class="formTitle js-options js-design">
    <span class="formTitle__icon"
      ><i class="fa-regular fa-object-ungroup"></i
    ></span>
    <p class="formTitle__text">Diseña</p>
    <span class="formTitle__arrow"
      ><i class="fa-solid fa-chevron-up arrowUp"></i
    ></span>
  </section>

  <div class="colours container">
    <p>COLORES</p>

    <section class="section">
      <div class="section__rectangOne palette1">
        <input
          type="radio"
          name="select"
          class="js_palette1 js-select1 section__rectangOne--input1"
          value="1"
          checked
        />
        <div class="section__rectangOne--colorDark"></div>
        <div class="section__rectangOne--colorDirty"></div>
        <div class="section__rectangOne--colorHospital"></div>
      </div>

      <div class="section__rectangTwo palette2">
        <input
          type="radio"
          name="select"
          class="js_palette2 section__rectangTwo--input2"
          value="2"
        />
        <div class="section__rectangTwo--colorDried"></div>
        <div class="section__rectangTwo--colorRusty"></div>
        <div class="section__rectangTwo--colorTomato"></div>
      </div>

      <div class="section__rectangThree palette3">
        <input
          type="radio"
          name="select"
          class="js_palette3 section__rectangThree--input3"
          value="3"
        />
        <div class="section__rectangThree--colorSlate"></div>
        <div class="section__rectangThree--colorFaded"></div>
        <div class="section__rectangThree--colorLight"></div>
      </div>
    </section>
  </div>
</fieldset>
