<fieldset class="fill">
    <load src="/partials/formTitle.html" title="rellena" icon="fa-regular fa-keyboard"/>
  
    <section class="formContainer">
        <div class="formContainer__name">
            <label for="">Nombre completo</label>
            <input type="text" placeholder="Ej: Sally Jill" class="js_inputName" name="name"/>
        </div>
        <div class="formContainer__job">
            <label for="" class="">Puesto</label>
            <input type="text" placeholder="Ej: Front-end unicorn" class="js_inputJob" name="job"/>
        </div>
        <div class="formContainer__image">
            <p class="formContainer__image--title">Imagen de perfil</p>
            <div class="formContainer__image--add">Añadir imagen</div>
        </div>
        <div class="formContainer__square"></div>
        
        <div class="formContainer__email">
            <label for="">Email</label>
            <input type="email" placeholder="Ej: sally.hill@gmail.com" class="js_inputEmail" name="email">
        </div>
        <div class="formContainer__phone">
            <label for="">Teléfono</label>
            <input type="number" placeholder="Ej: 555-55-55-55" class="js_inputPhone" name="phone">
        </div>
        <div class="formContainer__linkedin">
            <label for="">Linkedin</label>
            <input type="text" placeholder="Ej: linkedin.com/in/sally-hill" class="js_inputLinkedin" name="linkedin">
        </div>
        <div class="formContainer__github">
            <label for="">Github</label>
            <input type="email" placeholder="Ej: @sally-hill" class="js_inputGithub" name="github">
        </div>
    </section>
    <div class="borderFill"></div>
</fieldset>