<fieldset class="fill js-fieldsetFill">
   
    <section class="formTitle js-options js_formFill">
        <span class="formTitle__icon"><i class="fa-regular fa-keyboard"></i></span>
        <p class="formTitle__text">Rellena</p>
        <span class="formTitle__arrow"><i class="fa-solid fa-chevron-up arrowUp"></i></span>
    </section>
  
    <section class="formContainer js-formContainer container">
        <div class="formContainer__name">
            <label for="">Nombre completo</label>
            <input type="text" placeholder="Ej: Sally Jill" class="js_inputName js-input" id="name" name="name"/>
        </div>
        <div class="formContainer__job">
            <label for="" class="">Puesto</label>
            <input type="text" placeholder="Ej: Front-end unicorn" class="js_inputJob js-input" id="job" name="job"/>
        </div>
        <div class="formContainer__image">
            <p class="formContainer__image--title">Imagen de perfil</p>
            <label for="photo" class="formContainer__image--add "> Añadir imagen</label>
            <input type="file" name="photo" id="photo" accept=".jpg, .jpeg, .png" class="formContainer__image--input js_image js__profile-upload-btn js-input"/>
        </div>
        <div class="formContainer__square js_miniPreview"></div>
        
        <div class="formContainer__email">
            <label for="">Email</label>
            <input type="email" placeholder="Ej: sally.hill@gmail.com" class="js_inputEmail js-input" id="email" name="email">
        </div>
        <div class="formContainer__phone">
            <label for="">Teléfono</label>
            <input type="number" placeholder="Ej: 555-55-55-55" class="js_inputPhone js-input" id="phone" name="phone">
        </div>
        <div class="formContainer__linkedin">
            <label for="">Linkedin</label>
            <input type="text" placeholder="Ej: linkedin.com/in/sally-hill" class="js_inputLinkedin js-input" id="linkedin" name="linkedin">
        </div>
        <div class="formContainer__github">
            <label for="">Github</label>
            <input type="email" placeholder="Ej: @sally-hill" class="js_inputGithub js-input" id="github" name="github">
        </div>
    </section>
    
</fieldset>