<fieldset class="form">
    <load src="/partials/formTitle.html" title="rellena" icon="fa-regular fa-keyboard"/>

    
    <form class="formContainer">
        <div>
            <label for="">Nombre completo</label>
            <input type="text" placeholder="Ej: Sally Jill"/>
        </div>
        <div>
            <label for="">Puesto</label>
            <input type="text" placeholder="Ej: Front-end unicorn"/>
        </div>
        <div>
            <p>Imagen de perfil</p>
            <div>Añadir imagen</div>
            <div></div>
        </div>
        <div>
            <label for="">Email</label>
            <input type="email" placeholder="Ej: sally.hill@gmail.com">
        </div>
        <div>
            <label for="">Teléfono</label>
            <input type="number" placeholder="Ej: 555-55-55-55">
        </div>
        <div>
            <label for="">Linkedin</label>
            <input type="text" placeholder="Ej: linkedin.com/in/sally-hill">
        </div>
        <div>
            <label for="">Github</label>
            <input type="email" placeholder="Ej: @sally-hill">
        </div>
    
    </form>
  
</fieldset>