<fieldset class="form">
    <load src="/partials/formTitle.html" title="rellena" icon="fa-regular fa-keyboard"/>

    
    <form class="formContainer">
        <label for=""></label>
        <input type="text">
        <label for=""></label>
        <input type="text">
        <label for=""></label>
        <input type="text">
        <div>
            <p></p>
            <div></div>
            <div></div>
        </div>
        <label for=""></label>
        <input type="text">
        <label for=""></label>
        <input type="text">
        <label for=""></label>
        <input type="text">
    </form>
  
<!-- <i class="fa-regular fa-keyboard"></i></span> -->
</fieldset>