<fieldset>
    <!--Las líneas se consiguen con los bordes top, bottom de los divs?-->
    <section class="buttonGrey">
        <div class="divShare">
            <p class="divShare__p">la tarjeta ha sido creada</p>
            <a class="divShare__a"
                href="https://awesome-profile-card.com?id=A456DF0001">https://awesome-profile-card.com?id=A456DF0001</a>
            <button class="twitterShare">
                <i class="fa-brands fa-x-twitter"></i>
                <p class="twitterShare__button">compartir en twitter</p>
            </button>
        </div>
    </section>
</fieldset>