<section class="sectionForm">
    <load src="./formTitle.html" />
    <load src="./formTitle.html" />
    <load src="./formTitle.html" />
</section>
<!--Las líneas se consiguen con los bordes top, bottom de los divs?-->
<section class="buttonGrey">
    <button class="buttonGrey__button">
        <i class="fa-regular fa-address-card"></i>
        <p class="buttonGrey__text">crear tarjeta</p>
    </button>

    <div class="divShare">
        <p>la tarjeta ha sido creada</p>
        <a href="https://awesome-profile-card.com?id=A456DF0001">https://awesome-profile-card.com?id=A456DF0001</a>
        <button class="twitterShare">
            <i class="fa-brands fa-x-twitter"></i>
            <p class="twitterShare__button">compartir en twitter</p>
        </button>
    </div>
</section>