<main>
  <div class="landing">
    <img
      class="landing__image"
      src="/images/Broducers.webp"
      alt="awesome profile cards"
    />
    <h1 class="landing__title">Crea tu tarjeta de visita</h1>
    <p class="landing__text">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
    <section class="landing__items">
      <div>
        <i class="fa-regular fa-object-ungroup"></i>
        <h3 class="landing__items--options">Diseña</h3>
      </div>
      <div>
        <i class="fa-regular fa-keyboard"></i>
        <h3 class="landing__items--options">Rellena</h3>
      </div>
      <div>
        <i class="fa-solid fa-share-nodes"></i>
        <h3 class="landing__items--options">Comparte</h3>
      </div>
    </section>
    <a class="landing__button" href="../page.html">Comenzar</a>
  </div>
</main>
