<main class= "mainContainer">

    <div>
        <h1 class="main__title"> Crea tu tarjeta de visita</h1>
        <p class="main__text"> Crea mejores contactos profesionales de forma fácil y cómoda</p>
   
     <section class="items">
        <div><h3 class="main__items">Diseña</h3> 
         <button class="design"><i class="fa-light fa-object-ungroup"></i>
         </button>
        </div>

        <div>
         <h3 class="main__items">Rellena</h3>
         <button class="filled"><i class="fa-regular fa-keyboard"></i>
         </button>
        </div>
        
        <div>
         <h3 class="main__items">Comparte</h3>
         <button class="share"><i class="fa-solid fa-share-nodes"></i>
         </button>
        </div>

      </section>

       <span>
         <h2 class="main__button">Comenzar</h2>
       </span>

    </div>
</main>