<fieldset class="buttonOrange">
    <section class="formTitle js_formShare1">
        <span class="formTitle__icon"><i class="fa-solid fa-share-nodes"></i></span>
        <p class="formTitle__text">Comparte</p>
        <span class="formTitle__arrow"><i class="fa-solid fa-chevron-up"></i></span>
    </section>

    <button class="buttonOrange__btn">
        <i class="buttonOrange__icon fa-regular fa-address-card "> </i></span>
        <p class="buttonOrange__text">crear tarjeta</p>
    </button>
    <div class="buttonOrange__botLine"></div>

</fieldset>