<fieldset class="buttonOrange js-fieldset hidden">
    <section class="formTitle js-options js-share">
        <span class="formTitle__icon"><i class="fa-solid fa-share-nodes"></i></span>
        <p class="formTitle__text">Comparte</p>
        <span class="formTitle__arrow"><i class="fa-solid fa-chevron-up arrowUp"></i></span>
    </section>

    <section class="containerButton container">
        <button class="buttonOrange__btn js-btnOrange">
            <i class="buttonOrange__icon fa-regular fa-address-card "> </i></span>
            <p class="buttonOrange__text">crear tarjeta</p>
        </button>
        <div class="shareHidden js-shareHidden">
            <p class="divShare__p js-shareError"></p>
            <a class="divShare__a js-linkCard"
                href=""></a>
            <button class="twitterShare">
                <i class="twitterShare__icon fa-brands fa-x-twitter"></i>
                <p class="twitterShare__button">Compartir en twitter</p>
            </button>
           
        </div>
    </section>

</fieldset>