@import 'core/variables';
@import 'core/mixins';
@import 'core/reset';
<<<<<<< HEAD
@import 'layout/formTitle';
@import 'layout/orangeShare';
@import 'layout/greyShare';

=======
@import 'layout/cardPreview';
@import 'layout/formTitle';
@import 'layout/design';
@import 'layout/fill';
>>>>>>> 6e513027e49c4d7bf7c7c2b7c7de3701892afeb6




.bodyPage{
    background-image: linear-gradient(to bottom, $whiteFour, $whiteTwo 9%);
    height: 90vh;
    display: flex;
    flex-direction: column;
    @media(min-width: 768px){
    flex-direction: row-reverse;
    }

      
}